<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>一覧画面</title>
</head>
<body>
    ファイルデータテーブル(file_data)の全データ<br/><br/>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>ファイルパス</th>
            <th></th>
        </tr>
        <tr th:each="obj : ${fileDataList}">
            <td th:text="${obj.id}"></td>
            <td th:text="${obj.filePath}"></td>
            <td>
                <!-- ダウンロードボタンを表示 -->
                <!-- PDFファイルの場合 -->
                <div th:if=${#strings.endsWith(obj.filePath,'.pdf')}>
                    <input type="button" value="PDFプレビュー"
                           th:onclick="'window.open(\'/download?id='
                             + ${obj.id} + '\', target=\'_blank\');'" />
                </div>
                <!-- PDFファイル以外の場合 -->
                <div th:unless=${#strings.endsWith(obj.filePath,'.pdf')}>
                    <form action="#" method="get"
                          th:action="@{/download(id=${'__${obj.id}__'})}"
                          th:method="download" >
                        <input type="hidden" name="_method" value="download" />
                        <input type="submit" value="ダウンロード" />
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <br/><br/>
    <form method="post" th:action="@{/to_add}">
        <input type="submit" value="データ追加" /><br/><br/>
        <input type="button" value="閉じる" onclick="window.close();" />
    </form>
</body>
</html>