<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserDataMapper">
    <resultMap id="userDataResultMap" type="com.example.demo.mapper.UserData" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="birthY" property="birthY" jdbcType="VARCHAR" />
        <result column="birthM" property="birthM" jdbcType="VARCHAR" />
        <result column="birthD" property="birthD" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="memo" property="memo" jdbcType="VARCHAR" />
        <result column="sex_value" property="sex_value" jdbcType="VARCHAR" />
    </resultMap>
    <select id="findById" parameterType="java.lang.Long" resultMap="userDataResultMap">
        SELECT
          id
        , name
        , birth_year as birthY
        , birth_month as birthM
        , birth_day as birthD
        , sex
        , memo
        , CASE sex
          WHEN '1' THEN '男'
          WHEN '2' THEN '女'
          ELSE ''
          END AS sex_value
        FROM USER_DATA
        WHERE id = #{id}
    </select>
    <update id="update" parameterType="com.example.demo.mapper.UserData">
        UPDATE USER_DATA SET name = #{name}, birth_year = #{birthY}
        , birth_month = #{birthM}, birth_day = #{birthD}
        , sex = #{sex}, memo = #{memo,jdbcType=VARCHAR}
        WHERE id = #{id}
    </update>
    <select id="findAll" resultMap="userDataResultMap">
        SELECT
        id
        , name
        , birth_year as birthY
        , birth_month as birthM
        , birth_day as birthD
        , sex
        , memo
        , CASE sex
        　　WHEN '1' THEN '男'
        　　WHEN '2' THEN '女'
        　　ELSE ''
        　　END AS sex_value
        FROM USER_DATA
    </select>
    <insert id="create" parameterType="com.example.demo.mapper.UserData">
        INSERT INTO USER_DATA (
              id
            , name
            , birth_year
            , birth_month
            , birth_day
            , sex
            , memo
        ) VALUES　(
              #{id}
            , #{name}
            , #{birthY}
            , #{birthM}
            , #{birthD}
            , #{sex}
            , #{memo,jdbcType=VARCHAR}
        )
    </insert>
</mapper>