<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <!-- コンソールログ出力設定 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
        </Console>
        <!-- ログファイル出力設定 -->
        <!-- 1分経過毎にローテーションする設定になっている -->
        <RollingFile name="LogFile" fileName="C:/work/logs/demo.log"
                     filePattern="C:/work/logs/demo_%d{yyyyMMddHHmm}.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- コンソールとファイルにログ出力をするための設定 -->
        <Logger name="com.example.demo" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Logger>
    </Loggers>
</Configuration>