<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.EmployeeMapper">
    <resultMap id="employeeResultMap" type="com.example.demo.Employee" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="birthday" property="birthDay" jdbcType="DATE" />
        <result column="boss_id" property="bossId" jdbcType="INTEGER" />
    </resultMap>
    <select id="findByBossBirthdayIn" parameterType="java.lang.String" resultMap="employeeResultMap">
        SELECT ID, NAME, BIRTHDAY, BOSS_ID
        FROM EMPLOYEE
        WHERE BOSS_ID IN (
            SELECT ID
            FROM EMPLOYEE
            WHERE BIRTHDAY = TO_DATE(#{birthday}, 'YYYY/MM/DD')
        )
        ORDER BY ID ASC
    </select>
    <select id="findByBossBirthdayWith" parameterType="java.lang.String" resultMap="employeeResultMap">
        WITH TMP_BOSS AS (
            SELECT *
            FROM EMPLOYEE
            WHERE BIRTHDAY = TO_DATE(#{birthday}, 'YYYY/MM/DD')
        )
        SELECT EMP.ID, EMP.NAME, EMP.BIRTHDAY, EMP.BOSS_ID
        FROM EMPLOYEE EMP
        INNER JOIN TMP_BOSS ON EMP.BOSS_ID = TMP_BOSS.ID
    </select>
</mapper>