<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>確認画面</title>
</head>
<body>
　　 <p>入力内容を確認してください。</p><br/>
<form method="post" action="/complete" th:object="${demoForm}">
    <!-- 下記に、Flash Scopeに格納したFormオブジェクトの名前・メモが取得される -->
    <span th:text="'名前： ' + *{name}">ここに名前が表示されます</span>
    <br/>
    <span th:text="'メモ： ' + *{memo}">ここにメモが表示されます</span>
    <br/><br/>
    <input type="submit" value="登録" />
</form>
</body>
</html>
